@charset "utf-8";

body						{ display: none;
							  font-family: 'Noto Sans Japanese', sans-serif;
							  background-color: #000000; }

.Inner						{ width: 1000px; height: auto; margin: 0px auto; }

/* ＠ファブレットの場合 */

@media screen and (max-width: 767px){

body						{ display: none;
							  font-family: 'Noto Sans Japanese', sans-serif;
							  background: none; }

header						{ display: none; }

}

/* ------------------------------------------------------------ */

/* グリーン */

#TypeGreen					{ width: 100%; height: 770px; overflow: hidden;
							  position: relative; z-index: 9995; background-image: url(../img/Triangle.png);
							  background-position: center center;
							  background-repeat: no-repeat;
							  background-attachment: fixed;
							  background-size: cover;
							  background-color: #9EE6C5; }

.Continue					{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;
							  background-image: url(../img/.png);
							  z-index: 9993; }

#TypeGreen .Inner			{ width: 1000px; height: 770px;
							  position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 9994; }

#TypeGreen .Inner h2		{ margin-bottom: 50px; font-size: 48px; font-weight: 100; margin-top: 100px; }

#TypeGreen .Inner h3		{ margin-bottom: 50px; }

#TypeGreen .Inner h4 a		{ float: left; }

#TypeGreen .Inner h4 img:first-child	{ margin-right: 20px; }

/* グリーン＠アニメ機能部分 */

#TypeGreen #grpASpace						{ width: 1000px; margin: 0px auto; position: relative; }

#TypeGreen #grpASpace ul.grpABox li.grpA1	{ position: absolute; top: 150px; right: -50px; opacity: 0; z-index: 9996;
											  transform: rotate(5deg); -moz-transform: rotate(5deg); -webkit-transform: rotate(5deg); }

.grpABoxNone	{ position: absolute; top: 150px; right: 0px;
				  /* transform: rotate(5deg); -moz-transform: rotate(5deg); -webkit-transform: rotate(5deg); */ }

/* グリーン＠ゆらゆら */

.Yurayura					{ display: none; position: absolute; z-index: 9995; top: 45%; height: 50px; left: auto; right: 25%; margin: auto; }
#rect						{ position: absolute; z-index: 9995; }

/* グリーン＠ファブレットの場合 */

@media screen and (max-width: 767px){

#TypeGreen					{ height: 600px; background-image: none; }

#TypeGreen .Inner			{ width: 90%; height: 800px; padding: 0px 5%; }

#TypeGreen .Inner h2		{ font-size: 20px; font-weight: 600; margin-top: 150px; }

#TypeGreen .Inner h3 img	{ width: 100px; height: 100px; }

#TypeGreen .Inner h4		{ float: none; position: relative; z-index: 9999; }

#TypeGreen .Inner h4 a		{ clear: both; }

#TypeGreen #grpASpace		{ position: absolute; bottom: -75px; right: -50px; z-index: 9992; width: 100%; height: 100%; }

#TypeGreen #grpASpace ul.grpABox li.grpA1 img	{ }
								 li.grpA1 img	{ width: 250px !important; }

}

/* グリーン＠ｉＰａｄの場合 */

@media screen and (min-device-width:  721px) and (max-device-width: 1024px) and (orientation:portrait){

#TypeGreen .Inner h2		{ font-size: 42px; }

#TypeGreen .Inner			{ width: 90%; height: 800px; padding: 0px 5%; }

#TypeGreen #grpASpace		{ position: absolute; bottom: -250px; right: 50px; z-index: 9992; width: 100%; height: 100%; }

#TypeGreen #grpASpace ul.grpABox li.grpA1 img	{ }
								 li.grpA1 img	{ width: 250px !important; }

}

/* ------------------------------------------------------------ */

/* ブルー */

#TypeBlue					{ width: 100%; height: 700px; overflow: hidden;
							  position: relative; z-index: 9996; background-image: url(../img/Triangle.png);
							  background-position: center center;
							  background-repeat: no-repeat;
							  background-attachment: fixed;
							  background-size: cover;
							  background-color: #ABCFFC; }

#TypeBlue .InnerPhoto		{ width: 50%; height: 700px;
							  position: absolute; top: 0px; left: 0px;
							  background-image:url(../img/Ble_Back.jpg);
							  background-position: center center;
							  background-repeat: no-repeat;
							  background-attachment: fixed;
							  background-size: cover; }

#TypeBlue .InnerText		{ width: 50%; height: 700px;
							  position: absolute; top: 0px; right: 0px; z-index: 9999; }

#TypeBlue .InnerText-Container	{ width: 400px; height: auto; margin: 100px auto 0px auto; }

#TypeBlue .InnerText-Container h2 { font-size: 24px; margin-bottom: 30px; }

#TypeBlue .InnerText-Container p  { font-size: 16px; margin-bottom: 20px; line-height: 200%; }

#TypeBlue .Inner h4 a		{ clear: both; }

#TypeBlue .InnerText-Container h4 img:first-child	{ margin-right: 20px; }

/* ブルー＠アニメ機能部分 */

#TypeBlue #grpBSpace							{ width: 1000px; margin: 0px auto; position: relative; }

#TypeBlue #grpBSpace ul.grpBBox li.grpB1		{ position: absolute; top:  120px; left:  -120px; z-index: 9998;
												  filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }

#TypeBlue #grpBSpace ul.grpBBox li.grpB2		{ position: absolute; top:  300px; left:  180px; z-index: 9998;
												  filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }

#TypeBlue #grpBSpace ul.grpBBox li.grpB3		{ position: absolute; top:  130px; left:  -100px; z-index: 9997;
												  filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }

/* ブルー＠ファブレットの場合 */

@media screen and (max-width: 767px){

#TypeBlue					{ height: 900px; background-image: none; }

#TypeBlue .InnerPhoto		{ display: none; }

#TypeBlue .InnerText		{ width: 100%; height: 500px;
							  position: absolute; top: 0px; right: 0px; z-index: 9999; }

#TypeBlue .InnerText-Container	{ width: 90%; height: 450px; padding: 50px 5% 0px 5%; margin: 0px auto; }

#TypeBlue .InnerText-Container h2 { font-size: 20px; margin-bottom: 20px; }

#TypeBlue .InnerText-Container p  { font-size: 12px; margin-bottom: 20px; line-height: 175%; }

#TypeBlue #grpBSpace							{ width: 100%; height: 400px; position: absolute; bottom: 0px; left: 0px; z-index: 9990; }

#TypeBlue #grpBSpace ul.grpBBox li.grpB1		{ top: 40px; left: 0px; }

#TypeBlue #grpBSpace ul.grpBBox li.grpB2		{ top: 190px; left: 120px; }

#TypeBlue #grpBSpace ul.grpBBox li.grpB3 img	{ width: 500px; bottom: 0px; }

}

/* ブルー＠ｉＰａｄの場合 */

@media screen and (min-device-width:  721px) and (max-device-width: 1024px) and (orientation:portrait){

#TypeBlue							{ height: 670px; background-image: none; }

#TypeBlue .InnerPhoto				{ width: 50%; height: 700px;
									  position: absolute; top: 0px; left: 0px;
									  background-image:url(../img/Ble_Back.jpg);
									  background-position: center center;
									  background-repeat: no-repeat;
									  background-attachment: scroll;
									  background-size: cover; }

#TypeBlue .InnerText-Container h4	{ display: none; }

#TypeBlue .InnerText				{ padding: 0% 5%; }

#TypeBlue .InnerText-Container		{ width: auto; }

}

/* ------------------------------------------------------------ */

/* イエロー */

#TypeYellow					{ width: 100%; height: 1200px; overflow: hidden;
							  position: relative; z-index: 9996; background-image: url(../img/Triangle.png);
							  background-position: center center;
							  background-repeat: no-repeat;
							  background-attachment: fixed;
							  background-size: cover;
							  background-color: #FFF75E; }

#TypeYellow h2				{ font-size: 36px; font-weight: 600; text-align: center; margin-bottom: 10px;
							  position: relative; top: 100px; left: 50%; float: left; }

#TypeYellow h2 span			{ display: block; width: 100px; height: 100px; line-height: 90px;
							  background-color: #FFF75E; border: 5px #B9B118 solid; color: #B9B118;
							  float: left; margin-right: 20px;position: relative; left: -50%; }

#TypeYellow h2 span:last-child { margin-right: 0px; }

#TypeYellow .Inner_Phone	{ width: 500px; height: 900px;
							  position: absolute; top: 200px; left: 0px; right: 0px; bottom: 0px; margin: auto;
							  z-index: 0; }

.Inner_Phone .X_Phone		{ z-index: 5; position: absolute; top: 0px; left: 0px; }
.Inner_Phone .A_Phone		{ z-index: 4; position: absolute; top: 0px; left: 0px; }
.Inner_Phone .B_Phone		{ z-index: 3; position: absolute; top: 0px; left: 0px; }
.Inner_Phone .C_Phone		{ z-index: 2; position: absolute; top: 0px; left: 0px; }
.Inner_Phone .D_Phone		{ z-index: 1; position: absolute; top: 0px; left: 0px; }

/* ブルー＠アニメ機能部分 */

#TypeYellow #grpCSpace							{ width: 1000px; height: 800px;
												  padding: 120px 0px 0px 0px; margin: 0px auto; position: relative; }

#TypeYellow #grpCSpace ul.grpCBox li.grpC1		{ position: absolute; top: 230px; left: 80px; z-index: 9998;
												  filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }

							   li.grpC1 img 	{ max-width: 352px; margin-right: 251px; margin-right: 200px; }

#TypeYellow #grpCSpace ul.grpCBox li.grpC2		{ position: absolute; top: 320px; left: 600px; z-index: 9998;
												  filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }

							   li.grpC2 img		{ max-width: 352px; margin-right: 251px; margin-right: 200px; }

#TypeYellow #grpCSpace ul.grpCBox li.grpC3		{ position: absolute; top: 700px; left: 80px; z-index: 9998;
												  filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }

							   li.grpC3 img		{ max-width: 352px; margin-right: 251px; margin-right: 200px; }

#TypeYellow #grpCSpace ul.grpCBox li.grpC4		{ position: absolute; top: 780px; left: 600px; z-index: 9998;
												  filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }

							   li.grpC4 img		{ max-width: 352px; margin-right: 251px; margin-right: 200px; }

/* ブルー＠ファブレットの場合 */

@media screen and (max-width: 767px){

#TypeYellow					{ background-image: none; }

#TypeYellow h2				{ font-size: 18px; }

#TypeYellow h2 span			{ width: 50px; height: 50px; line-height: 40px; }

#TypeYellow .Inner_Phone	{ width: 300px; height: 540px;
							  position: absolute; top: 200px; left: 0px; right: 0px; bottom: 0px; margin: auto;
							  z-index: 0; }

#TypeYellow .Inner_Phone img{ width: 300px; height: 540px; }

#TypeYellow #grpCSpace ul.grpCBox li.grpC1		{ top: 210px; left: 30px; }

#TypeYellow #grpCSpace ul.grpCBox li.grpC2		{ top: 390px; left:  0px; }

#TypeYellow #grpCSpace ul.grpCBox li.grpC3		{ top: 710px; left: 30px; }

#TypeYellow #grpCSpace ul.grpCBox li.grpC4		{ top: 920px; left:  0px; }

}

/* ------------------------------------------------------------ */

/* レッド */

#TypeRed					{ width: 100%; height: 2000px; overflow: hidden;
							  position: relative; z-index: 9996; background-image: url(../img/Triangle.png);
							  background-position: center center;
							  background-repeat: no-repeat;
							  background-attachment: fixed;
							  background-size: cover;
							  background-color: #FFBCBA; }

#TypeRed h2					{ font-size: 36px; font-weight: 600; text-align: center; margin-bottom: 10px;
							  position: relative; top: 100px; left: 50%; float: left; }

#TypeRed h2 span			{ display: block; width: 100px; height: 100px; line-height: 90px;
							  background-color: #FFBCBA; border: 5px #FFDEDD solid; color: #FFFFFF;
							  float: left; margin-right: 20px;position: relative; left: -50%; }

#TypeRed h2 span:last-child { margin-right: 0px; }

#TypeRed h3					{ clear: both; width: 800px;
							  font-size: 16px; text-align: center; margin-bottom: 10px;
							  position: absolute; top: 250px; left: 0px; right: 0px; margin-left: auto; margin-right: auto; }

#TypeRed .Inner				{ width: 640px; height: auto;
							  position: absolute; top: 350px; left: 0px; right: 0px; bottom: 0px; margin: auto;
							  z-index: 9999; }

#TypeRed .Full				{ width:  100%; height: auto; padding-top: 400px; }
#TypeRed h5					{ text-align: center; border-top: 1px #000000 solid; border-bottom: 1px #000000 solid; padding: 7px 0px; margin: 0px 0px 20px 0px; }

.Red_Google					{ width: 50%; float: left; text-align: center; margin-bottom: 50px; }
.Red_Apple					{ width: 50%; float: left; text-align: center; margin-bottom: 50px; }
.Red_Pc						{ text-align: center; }
.Red_Pc h4					{ font-size: 11px; margin-bottom: 50px; }

/* レッド＠フォーム部分 */

.formTable					{ width: 500px; background-color: #88302E; }

.formTable th				{ width: 120px; padding: 10px;
							  color: #FFFFFF; font-size: 20px; font-weight: 600;
							  vertical-align: text-top; }

.formTable td				{ width: 360px; padding: 10px; }

.Name						{ font-size: 24px; padding:  5px; width: 360px; height: auto;  border: none; }
.Mail						{ font-size: 24px; padding:  5px; width: 360px; height: auto;  border: none; }
.Comment					{ font-size: 24px; padding:  5px; width: 360px; height: 200px; border: none; }
.Attention					{ font-size: 16px; text-align: center; margin-top: 10px; margin-bottom: 10px; }
.Send						{ font-size: 24px; padding: 10px; width: 500px; height: auto;  border: none;
							  background-color: #88302E; color: #FFFFFF; font-weight: 600;
							  -webkit-transition: all 0.3s ease;
							  -moz-transition: all 0.3s ease;
							  -o-transition: all 0.3s ease;
							  transition: all 0.3s ease; }
.Send:hover					{ background-color: #FFFFFF; color: #88302E; }

input						{ background-color: #FFDEDD; }
input:focus					{ background-color: #FFBCBA; }

textarea					{ background-color: #FFDEDD; resize: none; }
textarea:focus				{ background-color: #FFBCBA; }

/* レッド＠ファブレットの場合 */

@media screen and (max-width: 767px){

#TypeRed					{ height: 100%; background-image: none; }

#TypeRed h2					{ display: none; }

#TypeRed h2 span			{ width: 50px; height: 50px; line-height: 40px; }

#TypeRed h3					{ width: 90%; top: 50px; bottom: 0px; left: 0px; right: 0px; margin: auto;
							  font-size: 12px; text-align: left; }

#TypeRed .Inner				{ width: 100%; top: 100px; }
#TypeRed .Full				{ width: 100%; }
#TypeRed .Full img			{ width: 100%; }
#TypeRed .Btn				{ display: none; }

.Red_Google					{ width: 100%; float: none; clear: both; text-align: center; margin-bottom: 0px; }
.Red_Google .Qr				{ display: none; }
.Red_Apple					{ width: 100%; float: none; clear: both; text-align: center; margin-bottom: 50px; }
.Red_Apple .Qr				{ display: none; }
.Red_Pc						{ text-align: center; }
.Red_Pc img					{ width: 240px; }
.Red_Pc h4					{ font-size: 11px; }

.formTable					{ width: 100%; }

.formTable th				{ display: block; width: 100%; font-size: 16px; }

.formTable td				{ display: block; width: 100%; }

.Name						{ font-size: 12px; width: 100%; }
.Mail						{ font-size: 12px; width: 100%; }
.Comment					{ font-size: 12px; width: 100%; }
.Attention					{ font-size: 10px; }
.Send						{ font-size: 12px; width: 100%; }

input						{ width: 100%; }
input:focus					{ width: 100%; }

textarea					{ width: 100%; }
textarea:focus				{ width: 100%; }

}

@media screen and (min-device-width:  721px) and (max-device-width: 1024px) and (orientation:portrait){

}

/* ------------------------------------------------------------ */

/* スライダー制御＠次へボタン */

.slick-next						{ position: absolute; top: 60%; right: -5%; z-index: 20000;
								  color: #333333; background: #CCCCCC; border: 0px solid #CCCCCC;
								  border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
								  font-size: 24px; }

/* スライダー制御＠戻るボタン */

.slick-prev						{ position: absolute; top: 60%; left: -5%; z-index: 20000;
								  color: #333333; background: #CCCCCC; border: 0px solid #CCCCCC;
								  border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
								  font-size: 24px; }

/* スライダー制御＠画像格納 */

.your-class						{ overflow: hidden; width: auto; height: 820px; }
.your-class img					{ width: auto; height: 820px; }

/* スライダー制御＠スライダー本体 */

.slick-slider					{ position: relative;
								  overflow: hidden; display: block;
								  -moz-box-sizing: border-box; box-sizing: border-box;
								  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
								  -webkit-touch-callout: none; -khtml-user-select: none;
								  -ms-touch-action: pan-y; touch-action: pan-y;
								  -webkit-tap-highlight-color: transparent; }

.slick-slider img				{ display: block; margin: 0px auto; zoom: 1.0; }

.slick-list						{ position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }

.slick-list:focus				{ outline: none; }

.slick-list.dragging			{ cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list
								{ -webkit-transform: translate3d(0, 0, 0);
								  -moz-transform: translate3d(0, 0, 0);
								  -ms-transform: translate3d(0, 0, 0);
								  -o-transform: translate3d(0, 0, 0);
								  transform: translate3d(0, 0, 0); }

.slick-track					{ position: relative; top: 0; left: 0; display: block; }
.slick-track:before, .slick-track:after
								{ display: table; content: ''; }
.slick-track:after				{ clear: both; }
.slick-loading .slick-track		{ visibility: hidden; }
.slick-slide					{ display: none; float: left; height: 100%; min-height: 1px; }
[dir='rtl'] .slick-slide		{ float: right; }
.slick-slide img				{ display: block; }
.slick-slide.slick-loading img	{ display: none; }
.slick-slide.dragging img		{ pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide		{ visibility: hidden; }
.slick-vertical .slick-slide	{ display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden		{ display: none; }

/* ------------------------------------------------------------ */

/* フッタ */

footer						{ width: 100%; height: auto;
							  position: relative; z-index: 9997; padding: 50px 0px;
							  background-color: #000000; }

.p_FtSns					{ text-align: center; margin-bottom: 20px; }
.p_FtSns img				{ margin: 5px; }

.p_FtApp					{ text-align: center; }
.p_FtApp img				{ margin: 5px; }

/* フッタ＠黒いバー */

footer aside				{ display: block; position: absolute; bottom: 0px; z-index: 9999;
							  width: 100%; height: auto; padding: 5px 0px;
							  background-color: #000000; font-size: 10px; }

/* フッタ＠黒いバー＠サブコンテンツ */

footer aside ul				{ width: 38.5%; padding-left:  1.5%; }
footer aside li				{ float: left; margin-right: 10px; }
footer aside li a			{ color: #FFFFFF; font-weight: bold; margin-right: 10px; text-decoration: none; }
footer aside li a:hover		{ color: #999999; }

/* フッタ＠黒いバー＠著作権表示 */

footer aside address		{ width: 58.5%; padding-right: 1.5%; float: right; text-align: right; color: #666666; }

/* ------------------------------------------------------------ */

/* 汎用＠ヘッダー＠リンクアイコン */

header						{  }

#p_HdMenu					{ float: left; width: 100%; margin: 0%;
							  background-image: url(../img/p_HdMenuBack.png);
							  position: fixed; top: -20px; left: 0px; z-index: 9999; }

#p_HdMenu h1				{ float: left; margin-top: 32px; margin-left: 20px; }
#p_HdMenu h1 img			{ width: 110px; }
#p_HdMenu ul				{ float: right; }


#p_HdMenu li				{ width: 125px; height: auto; display: block; float: left; }

#p_HdMenu li.TypeGreen		{ border-bottom: 5px #9EE6C5 solid; }
#p_HdMenu li.TypeBlue		{ border-bottom: 5px #ABCFFC solid; }
#p_HdMenu li.TypeYellow		{ border-bottom: 5px #FFF75E solid; }
#p_HdMenu li.TypeRed		{ border-bottom: 5px #FFBCBA solid; }

#p_HdMenu li a				{ color: #000000; text-decoration: none; background-color: #FFFFFF;
							  -webkit-transition: all 0.25s ease;
							  -moz-transition: all 0.25s ease;
							  -o-transition: all 0.25s ease;
							  transition: all 0.25s ease;
							  display: block;
							  padding: 30px 0px 10px 0px;
							  border-left: 1px #CCCCCC solid; }
#p_HdMenu li .Jpn			{ width: auto; display: block; clear: both; font-size: 11px; text-align: center; }
#p_HdMenu li .Eng			{ width: auto; display: block; clear: both; font-size: 10px; text-align: center; }

#p_HdMenu li a:hover		{ color: #000000; background-color: #EEEEEE; margin-top: 10px;
							  /* box-shadow:rgba(0, 0, 0, 0.1) 0px -2px 6px 0px inset;
							  -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0px -2px 6px 0px inset;
							  -moz-box-shadow:rgba(0, 0, 0, 0.1) 0px -2px 6px 0px inset; */ }

/* ＠ファブレットの場合 */

@media screen and (max-width: 767px){

#p_HdMenu					{ top: 0px; }
#p_HdMenu h1				{ display: inline; width: 100%; padding:  0px; margin: 0px; }
#p_HdMenu h1 a				{ display: block;  width: 100%; padding: 10px; }
#p_HdMenu li				{ display: none; }

}

/* ------------------------------------------------------------ */

/* 汎用＠フッター＠ページトップへ戻る */

#p_FtBack					{ width: 32px; height: 32px; border-radius: 50%;
							  position: fixed; bottom: 20px; right: 20px; z-index: 9999;
							  border: 3px #FFFFFF solid; text-align: center; }

#p_FtBack a					{ display: block; text-decoration: none;
							  color: #FFFFFF; font-weight: bold; }

#p_FtBack a:hover			{ width: 26px; height: 26px; border-radius: 50%; background-color: #CCCCCC;
							  opacity: 0.5;
							  filter: alpha(opacity=50);
							  -moz-opacity: 0.5; }

/* ------------------------------------------------------------ */

/* スペア */

#Firstview					{ display: none; }
#Works						{ display: none; }
#Features					{ display: none; }

/* ------------------------------------------------------------ */

@media screen and (min-width: 1024px){ .PC { display: block; } .SP { display: none; }
											 body { font-family: 'Noto Sans Japanese', sans-serif; } }
@media screen and (max-width: 1023px){ .PC { display: block; } .SP { display: none; } }
@media screen and (min-width:  768px){ .PC { display: block; } .SP { display: none; } }
@media screen and (max-width:  767px){ .PC { display: none; } .SP { display: block; } }
@media screen and (max-width:  479px){ .PC { display: none; } .SP { display: block; } }