@charset "utf-8";

/* ------------------------------------------------------------ */

#ld_Screen					{ display: none; position: fixed; top: 0px; left: 0px; z-index: 999998;
							  width: 100%; height: 100%; background: #000000; }

#ld_Effect					{ display: none; position: fixed; top: 50%; left: 50%; z-index: 999999;
							  width: 80px; height: 80px;
							  margin-left: -40px; margin-top: -40px; }

#cssload-wrapper {
	width: 100px;
	height: 7px;
	position: absolute;
	top: 50%; left: 50%; right: 50%;

}

#cssload-border {
	border: 1px solid rgb(255,202,1);
	height: 100%;
	width: 100%;
	position: relative;
	left: -50%;
	top: -50%;
	padding: 1px 1px;
	border-radius: 10px;
}

#cssload-whitespace {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

#cssload-line {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgb(255,202,1);
	animation: cssload-slide 4s steps(40) infinite;
		-o-animation: cssload-slide 4s steps(40) infinite;
		-ms-animation: cssload-slide 4s steps(40) infinite;
		-webkit-animation: cssload-slide 4s steps(40) infinite;
		-moz-animation: cssload-slide 4s steps(40) infinite;
}



@keyframes cssload-slide {
	0% {
		left: -100%;
	}
	
	100% {
		left: 100%;
	}
}

@-o-keyframes cssload-slide {
	0% {
		left: -100%;
	}
	
	100% {
		left: 100%;
	}
}

@-ms-keyframes cssload-slide {
	0% {
		left: -100%;
	}
	
	100% {
		left: 100%;
	}
}

@-webkit-keyframes cssload-slide {
	0% {
		left: -100%;
	}
	
	100% {
		left: 100%;
	}
}

@-moz-keyframes cssload-slide {
	0% {
		left: -100%;
	}
	
	100% {
		left: 100%;
	}
}
