@charset "UTF-8";

/*──────────*/

*								{ -webkit-box-sizing: border-box;
								  -moz-box-sizing: border-box;
								  -o-box-sizing: border-box;
								  -ms-box-sizing: border-box;
								  box-sizing: border-box; }

html							{ text-align: justify; text-justify: inter-ideograph; }
body							{ font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴシック", sans-serif;
								  margin: 0px auto; }
a img, fieldset, img			{ border: 0; }
dd, div, dl, dt, fieldset, form,
h1, h2, h3, h4, h5, h6, input, li, ol, p, pre,
select, span, textarea, th
								{ margin: 0; padding: 0; }
ul, li							{ list-style-type: none; margin: 0; padding: 0;  }
abbr, acronym					{ border: 0; }
address, caption, cite, code, dfn, em, th, var
								{ font-style: normal; font-weight: normal; }
caption, th						{ text-align: left; }
code, kbd, pre, samp, tt		{ font-family: monospace; line-height: 100%; }

/*──────────*/

/* IE7 */
*+html code, kbd, pre, samp, tt	{ font-size: 108%; }
h1, h2, h3, h4, h5, h6			{ font-size: 100%; font-weight: normal; }
input, select, textarea			{ font-size: 100%; font-family: 'Lucida Grande',Arial,Helvetica,Verdana,sans-serif; }
q:before, q:after				{ content: ''; }

			*+html body			{ font-family: 'メイリオ'; font-size: x-small; }

/*──────────*/

/* IE6 */ * html body			{ font-size: x-small; }

/*──────────*/

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both; }

/*──────────*/